@model WebApplication1.Models.consulta

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar este registro?</h3>
<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paciente.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paciente.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoexame.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoexame.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
